AMZN_LINUX_VER=2018.03.0.20190212
DATA_PATH=./data

NETWORKS_DRIVER=bridge
VOLUMES_DRIVER=local

##### Work Space #####

WORKSPACE_PATH=./workspace

##### PHP #####

PHP_VER=56

##### MySQL #####

MYSQL_VER=56
MYSQL_VER_DOT=5.6
MYSQL_PATH=./mysql
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=pass
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
MYSQL_TZ=UTC

##### LOG #####
LOG_PATH=./log
