[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
character_set_server=utf8
default-storage-engine=InnoDB
innodb_file_per_table
general-log=1
general-log-file=/var/log/mysql/mysqld.log

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8

[client]
default-character-set=utf8
